<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Student Financial App</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <div class="container">


              <div class="row bs-wizard" style="border-bottom:0;">

                  <div class="col-xs-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">Step 1</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Select Bank Account</div>
                  </div>

                  <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum">Step 2</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Select Brokerage Account</div>
                  </div>

                  <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum">Step 3</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Generate Investment Advice</div>
                  </div>
              </div>

            <div>

                <div>
                    <a href="#" class="btn btn-primary btn-lg active" role="button">Student Accounts</a>
                </div>

              <div class="row">
              <div>
                  <img src="Assets/rbc.jpeg" class="col-md-2" alt="Responsive image">
              </div>



              <div>
                  <img src="Assets/td.png" class="col-md-2" alt="Responsive image">
              </div>
              <div>
                  <img src="Assets/scotiabank.png" class="col-md-2" alt="Responsive image">
              </div>
              <div>
                  <img src="Assets/cibc.jpg" class="col-md-2" alt="Responsive image">
              </div>
              <div>
                  <img src="Assets/bmo.png" class="col-md-2" alt="Responsive image">
              </div>
            </div>







  	</div>


</body>
</html>
